.form-details {
    width: 100%;
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
}

.body {
    min-height: 75rem;
    margin: 0;
}

.ulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.list {
    float: left;
}

.list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

.list a:hover:not(.active) {
    background-color: #111;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #111;
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.footer-text {
    color: white;
}

.active {
    background-color: #4CAF50;
}

.data {
    font-size: x-large;
}