<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PostApp - Posts</title>
    <link rel="stylesheet" href="../static/css/recent_posts.css">
</head>
<body>
<ul class="ulist">
    <li class="list"><a href="/">Home</a></li>
    <li class="list"><a href="/posts">All Posts</a></li>
    <li class="list"><a class="active" href="/recent_posts">Latest Posts</a></li>
</ul>
<br>
<h1 align="center" style="font-size: 25px"> Recent Posts</h1>
<h4 style="color:red; font-size: 18px" align="center">Check 3 recent posts</h4>
<hr>
<br>
<div>
    <ul>
        {% for author,post in posts.items() %}
        <li class="data"><strong>{{ author }}</strong> Posted - {{post}}</li>
        <br>
        {% endfor %}
    </ul>
</div>
<div class="footer">
    <br>
    <small>©Copyright: <a href="https://www.linkedin.com/in/sandro-shavdatuashvili-7b627b198/" class="footer-text"
                          target="_blank">Sandro Shavdatuashvili</a></small>
</div>
</body>
</html>